.about_page_1 {
    background-image: url("https://e0.pxfuel.com/wallpapers/12/903/desktop-wallpaper-business-professional-company-vision.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    align-items: center;
}
.logo{
    position: absolute;
    z-index: 1000;
  }