@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
 *{
  padding: 0;
  color: white;
  margin: 0;
  box-sizing: border-box;
}
body,
html,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* No change here */
    font-family: "Josefin Sans", sans-serif;
  transition: all 2s ease-in-out;
  background-color: black;
  scroll-behavior: smooth;
}
