.element{
    position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 0.5rem;

}
.element::before{
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    transition: opacity 0.5s ease;
    z-index: 1;
}
.element:hover::before{
    opacity: 0;
}
.element img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
  }
  .element:hover  img {
    transform: scale(1.05); /* Slight zoom effect on hover */
  }